# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries



# Sensitive or high-churn files:
.idea/sonarlint/**
.idea/**/dataSources/
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea
# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/rest-api/src/main/java/com/stadio/ws/service/properties/StorageProperties.java
.idea/inspectionProfiles/
.idea/sonarlint/issuestore/0/
.idea/sonarlint/issuestore/1/
.idea/sonarlint/issuestore/2/
.idea/sonarlint/issuestore/3/
.idea/sonarlint/issuestore/4/1/
.idea/sonarlint/issuestore/4/8/
.idea/sonarlint/issuestore/4/a/
.idea/sonarlint/issuestore/4/d/
.idea/sonarlint/issuestore/4/e/
.idea/sonarlint/issuestore/4/f/
.idea/sonarlint/issuestore/5/
.idea/sonarlint/issuestore/6/
.idea/sonarlint/issuestore/7/
.idea/sonarlint/issuestore/8/
.idea/sonarlint/issuestore/9/
.idea/sonarlint/issuestore/a/
.idea/sonarlint/issuestore/b/
.idea/sonarlint/issuestore/c/
.idea/sonarlint/issuestore/d/
.idea/sonarlint/issuestore/e/1/
.idea/sonarlint/issuestore/e/5/
.idea/sonarlint/issuestore/e/7/
.idea/sonarlint/issuestore/e/9/
.idea/sonarlint/issuestore/e/b/
.idea/sonarlint/issuestore/e/c/
.idea/sonarlint/issuestore/e/d/
.idea/sonarlint/issuestore/e/f/
.idea/sonarlint/issuestore/f/

common/src/test/
logs/
model/src/test/

rest-api/src/main/resources/templates/
rest-api/src/test/
sso/src/test/
.idea/shelf/**
.idea/shelf/
transaction/.settings/org.eclipse.jdt.core.prefs
transaction/.settings/org.eclipse.core.resources.prefs
transaction/.project
transaction/.classpath
tasks/.settings/org.eclipse.jdt.core.prefs
tasks/.settings/org.eclipse.core.resources.prefs
tasks/.project
tasks/.classpath
search-engine/.settings/org.eclipse.jdt.core.prefs
search-engine/.settings/org.eclipse.core.resources.prefs
search-engine/.project
search-engine/.classpath
notification/.settings/org.eclipse.jdt.core.prefs
notification/.settings/org.eclipse.core.resources.prefs
notification/.project
notification/.classpath
model/.settings/org.eclipse.wst.validation.prefs
model/.settings/org.eclipse.wst.common.project.facet.core.xml
model/.settings/org.eclipse.wst.common.component
model/.settings/org.eclipse.jdt.core.prefs
model/.settings/org.eclipse.core.resources.prefs
model/.project
model/.classpath
mobile-api/.settings/org.eclipse.wst.validation.prefs
mobile-api/.settings/org.eclipse.wst.jsdt.ui.superType.name
mobile-api/.settings/org.eclipse.wst.jsdt.ui.superType.container
mobile-api/.settings/org.eclipse.wst.common.project.facet.core.xml
mobile-api/.settings/org.eclipse.wst.common.component
mobile-api/.settings/org.eclipse.jdt.core.prefs
mobile-api/.settings/org.eclipse.core.resources.prefs
mobile-api/.settings/.jsdtscope
mobile-api/.project
mobile-api/.classpath
mediation/.settings/org.eclipse.jdt.core.prefs
mediation/.settings/org.eclipse.core.resources.prefs
mediation/.project
mediation/.classpath
common/.settings/org.eclipse.wst.validation.prefs
common/.settings/org.eclipse.wst.common.project.facet.core.xml
common/.settings/org.eclipse.wst.common.component
common/.settings/org.eclipse.jdt.core.prefs
common/.settings/org.eclipse.core.resources.prefs
common/.project
common/.classpath
cms-api/.settings/org.eclipse.jdt.core.prefs
cms-api/.settings/org.eclipse.core.resources.prefs
cms-api/.project
cms-api/.classpath
.settings/org.eclipse.core.resources.prefs
.project
